.loading {
  position: absolute;
  z-index: 1;
  left: 0;
}

.loading-margin {
  margin-top: 20%;
}

.spin-size {
  font-size: 100%;
}

.bg-red-bold {
  background-color: #d63384;
}

.bg-red {
  background-color: #d35192;
}

.font-big {
  font-size: 70%;
  font-weight: bolder;
}

.font-small {
  font-size: 70%;
}

.font-region {
  font-size: 150%;
}

.font-region-list {
  font-size: 100%;
}

.font-region-list-sm {
  font-size: 80%;
}

.icon,
.icon-nav {
  font-size: 200%;
}

.font-header {
  font-size: 150%;
}

.icon-header {
  font-size: 550%;
}

@media (min-width: 768px) {
  .font-big {
    font-size: 100%;
    font-weight: bolder;
  }

  .font-small {
    font-size: 100%;
  }

  .icon {
    font-size: 300%;
  }

  .icon-nav {
    font-size: 200%;
  }

  .font-header {
    font-size: 250%;
  }

  .icon-header {
    font-size: 450%;
  }

  .font-region {
    font-size: 450%;
  }

  .font-region-list {
    font-size: 150%;
  }

  .font-region-list-sm {
    font-size: 150%;
  }
}
