.bg-red-bold {
  background-color: #d63384;
}

.bg-red {
  background-color: #d35192;
}

.font-big {
  font-size: 70%;
  font-weight: bolder;
}

.font-small {
  font-size: 70%;
}

.icon,
.icon-nav {
  font-size: 200%;
}

.font-header {
  font-size: 150%;
}

.icon-header {
  font-size: 550%;
}

@media (min-width: 768px) {
  .font-big {
    font-size: 250%;
    font-weight: bolder;
  }

  .font-small {
    font-size: 200%;
  }

  .icon {
    font-size: 650%;
  }

  .icon-nav {
    font-size: 250%;
  }

  .font-header {
    font-size: 450%;
  }

  .icon-header {
    font-size: 950%;
  }
}
